<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/noheader}">

		<section layout:fragment="contents" class="login-section text-center pt-4">
			<span class="full-logo-noheader display-2 mb-4">BaseBall LOCK</span>
			<div class="user-box mx-auto p-4 rounded-3">
			  <div class="d-flex flex-column align-items-center w-100" id="userInputBox">
			  	<h3 class="display-5 mb-4">비밀번호 찾기</h3>
			  	
			    <input type="text" id="loginIdInput" class="form-control mb-3" placeholder="아이디를 입력하세요">
			    <input type="text" id="nameInput" class="form-control mb-3" placeholder="이름을 입력하세요">
			
			    <div class="input-group mb-4">
			      <input type="text" id="emailInput" class="form-control" placeholder="이메일을 입력하세요">
			      <span class="input-group-text">@</span>
			      <input type="text" id="emailDomainInput" class="form-control d-none" placeholder="도메인 입력">
			      <select class="form-select" id="emailDomain">
			        <option value="" selected disabled>도메인 선택</option>
			        <option value="gmail.com">gmail.com</option>
			        <option value="naver.com">naver.com</option>
			        <option value="custom">직접입력</option>
			      </select>
			    </div>
			
			    <button type="button" class="btn fw-bold w-100 fs-4" id="findBtn" style="background-color: #FACC15;">FIND the LOCK</button>
			  </div>
			
			  <div class="d-flex flex-column align-items-center w-100 d-none" id="passwordInputBox">
			  	<h3 class="display-5 mb-4">비밀번호 재설정하기</h3>
			  	
			    <input type="hidden" id="hiddenLoginId">
			
			    <input type="password" id="passwordInput" class="form-control mb-3" placeholder="비밀번호를 입력하세요">
			    <input type="password" id="passwordConfirmInput" class="form-control mb-3" placeholder="비밀번호 확인">
			
			    <button type="button" class="btn fw-bold w-100 fs-4" id="passwordBtn" style="background-color: #FACC15;">재설정 하기</button>
			  </div>
			</div>
		</section>
		
		<script layout:fragment="script">
		
		// 이메일 도메인 선택
		$("#emailDomain").change(function() {
			if($(this).val() === "custom"){
				$("#emailDomainInput").removeClass("d-none");
				$(this).addClass("d-none");
			}
		});
		
		$("#findBtn").on("click", function(){
			
			let loginId = $("#loginIdInput").val();
			let name = $("#nameInput").val();
			let email;
			let emailId = ""
			let emailDomain = $("#emailDomain").val();
			let emailDomainInput = $("#emailDomainInput").val();
			
			if(loginId == ""){
				alert("아이디를 입력해주세요");
				return;
			}
			if(name == ""){
				alert("이름을 입력해주세요");
				return;
			}
			if($("#emailDomain").val() == "custom"){
				emailId = $("#emailInput").val();
				if(emailId == "" ){
					alert("이메일을 입력해주세요");
					return;
				}
				if(emailDomainInput === null || emailDomainInput === ""){
					alert("이메일 도메인을 입력해주세요.");
					return;
				}
				email = emailId + "@" + emailDomainInput;
			} else {
				emailId = $("#emailInput").val();
				if(emailId == "" ){
					alert("이메일을 입력해주세요");
					return;
				}
				if(emailDomain === null || emailDomain === ""){
					alert("이메일 도메인을 선택해주세요.");
					return;
				}
				email = emailId + "@" + emailDomain;
			}
			
			$.ajax({
				type : "post"
				, data : {"loginId":loginId, "name":name, "email": email}
				, url : "/user/findPassword"
				, success : function(response){
					if(response.result == "true"){
						alert("조회에 성공하였습니다.\n비밀번호를 재설정 하세요")
						$("#userInputBox").addClass("d-none");
						$("#passwordInputBox").removeClass("d-none");
						$("#hiddenLoginId").val(response.loginId);
						
					} else {
						alert("존재하지 않는 회원입니다.");
					}
				}
				, error : function(){
					alert("회원 조회 오류. 관리자에게 문의하세요");
				}
			});
		});
		
		$("#passwordBtn").on("click", function(){
			
			let loginId = $("#hiddenLoginId").val();
			let password = $("#passwordInput").val();
			let passwordConfirm = $("#passwordConfirmInput").val();
			
			if(password != passwordConfirm){
				alert("비밀번호가 일치하지 않습니다");
				return;
			}
			
			// 비밀번호 형식 검사 (영문 대소문자, 숫자, 특수문자 포함 8~16자)
			let passwordPattern = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()\-_=+{};:,<.>]).{8,16}$/;
			if (!passwordPattern.test(password)) {
				alert("비밀번호는 영어 대소문자, 숫자, 특수문자를 포함해 8~16자 사이로 입력해주세요.");
				return;
			}
			
			$.ajax({
				type : "post"
				, data : {"loginId":loginId, "password":password}
				, url : "/user/resetPassword"
				, success : function(response){
					if(response.result == "success"){
						alert("비밀번호가 재설정 되었습니다.")
						location.href = "/user/login-view"
					} else {
						alert("비밀번호 재설정에 실패하였습니다.");
					}
				}
				, error : function(){
					alert("비밀번호 재설정 오류. 관리자에게 문의하세요");
				}
			});
		});
		</script>
		
</html>