<header class="d-flex align-items-end px-5" style="width: 100%;">
	<div class="flex-grow-1" style="flex-basis: 33%;">
	   <div class="full-logo-default display-1">BB LOCK</div>
	</div>

	<nav class="flex-grow-2 d-flex justify-content-end fs-3 gap-4 mb-3" style="flex-basis: 67%;">
	  <a href="#" class="nav-outline">일정/결과</a>
	  <a href="#" class="nav-outline">랭킹</a>
	  <a href="#" class="nav-outline">데일리 리뷰</a>
	  <a href="#" class="nav-outline">시뮬레이션</a>
	  <a href="#" class="nav-outline">락커룸</a>
	</nav>	
</header>