<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="contents">
  <div class="container py-5">
    
    <!-- 날짜 및 네비게이션 -->
	<div class="text-center mb-4 d-flex justify-content-center align-items-center gap-3">
	  <a th:if="${prevMatchId != null}"
	     th:href="@{/schedule/detail-view(matchId=${prevMatchId})}"
	     class="btn btn-outline-secondary">
	    &laquo;
	  </a>
	  <div class="fs-3 fw-bold" th:text="${#temporals.format(game.matchDate.toLocalDateTime(), 'yy년 M월 d일')}">25년 4월 1일</div>
	  <a th:if="${nextMatchId != null}"
	     th:href="@{/schedule/detail-view(matchId=${nextMatchId})}"
	     class="btn btn-outline-secondary">
	    &raquo;
	  </a>
	</div>

    <!-- 전체 경기 결과 요약 -->
	<div class="d-flex flex-wrap justify-content-center align-items-center gap-3 mb-4">
	  <div class="border rounded px-3 py-2 text-center bg-light"
	       th:each="g : ${otherGames}"
	       th:onclick="|location.href='@{/schedule/detail-view(matchId=${g.id})}'|"
	       style="cursor: pointer; width: 220px;">
	    
	    <!-- 원정팀 -->
	    <div class="d-flex flex-column align-items-center mb-1">
	      <div class="d-flex">
	        <img th:src="@{/static/emblems/{logo}.png(logo=${g.awayTeamLogo})}" class="table-team-logo mb-1 me-2">
	        <!-- 원정팀 이름 -->
			<span th:if="${g.awayTeamScore > g.homeTeamScore}"
			      th:text="${g.awayTeamName}" class="fw-bold me-3">두산</span>
			<span th:unless="${g.awayTeamScore > g.homeTeamScore}"
			      th:text="${g.awayTeamName}" class="me-3">두산</span>
			
			<!-- 원정팀 점수 -->
			<strong th:if="${g.awayTeamScore > g.homeTeamScore}"
			        th:text="${g.awayTeamScore}" class="fw-bold">3</strong>
			<strong th:unless="${g.awayTeamScore > g.homeTeamScore}"
			        th:text="${g.awayTeamScore}">3</strong>
	      </div>
	    </div>
	    
	    <div class="text-secondary fw-bold mb-1">VS</div>
	    
	    <!-- 홈팀 -->
	    <div class="d-flex flex-column align-items-center">
	      <div class="d-flex">
	        <img th:src="@{/static/emblems/{logo}.png(logo=${g.homeTeamLogo})}" class="table-team-logo mb-1 me-2">
	       <!-- 홈팀 이름 -->
			<span th:if="${g.homeTeamScore > g.awayTeamScore}"
			      th:text="${g.homeTeamName}" class="fw-bold me-3">SSG</span>
			<span th:unless="${g.homeTeamScore > g.awayTeamScore}"
			      th:text="${g.homeTeamName}" class="me-3">SSG</span>
			
			<!-- 홈팀 점수 -->
			<strong th:if="${g.homeTeamScore > g.awayTeamScore}"
			        th:text="${g.homeTeamScore}" class="fw-bold">6</strong>
			<strong th:unless="${g.homeTeamScore > g.awayTeamScore}"
			        th:text="${g.homeTeamScore}">6</strong>
	      </div>
	    </div>
	  </div>
	</div>

	<!-- 경기 취소 여부 판단 -->
	<div th:if="${game.status == '취소'}" class="alert alert-danger text-center fs-4 fw-bold my-5">
	  취소된 경기 입니다.
	</div>
	
	<!-- 경기 상태가 정상인 경우만 출력 -->
	<div th:if="${game.status != '취소'}">
	
	  <!-- 메인 경기 박스 -->
	  <div class="border bg-warning-subtle rounded text-center py-4 px-2 mb-4 shadow-sm">
	    <!-- 상단: 경기 팀 정보 -->
	    <div class="fs-3 mb-4 d-flex justify-content-center align-items-center text-center" style="width: 100%;">
		<!-- 원정팀 -->
		<div class="d-flex align-items-center justify-content-end gap-2" style="flex: 1;">
		  <img th:src="@{/static/emblems/{logo}.png(logo=${game.awayTeamLogo})}" class="table-team-logo">
		
		  <span th:if="${game.awayScore > game.homeScore}" th:text="${game.awayTeamName}" class="fs-4 fw-bold">기아 타이거즈</span>
		  <span th:unless="${game.awayScore > game.homeScore}" th:text="${game.awayTeamName}" class="fs-4">기아 타이거즈</span>
		
		  <span th:if="${game.awayScore > game.homeScore}" th:text="${game.awayScore}" class="fs-3 fw-bold text-dark">3</span>
		  <span th:unless="${game.awayScore > game.homeScore}" th:text="${game.awayScore}" class="fs-3 text-dark">3</span>
		</div>
		
		<!-- VS -->
		<div style="flex: 0 0 100px;">
		  <span class="text-secondary fs-3">VS</span>
		</div>
		
		<!-- 홈팀 -->
		<div class="d-flex align-items-center justify-content-start gap-2" style="flex: 1;">
		    <span th:if="${game.homeScore > game.awayScore}" th:text="${game.homeScore}" class="fs-3 fw-bold text-dark">6</span>
		    <span th:unless="${game.homeScore > game.awayScore}" th:text="${game.homeScore}" class="fs-3 text-dark">6</span>
		
		    <span th:if="${game.homeScore > game.awayScore}" th:text="${game.homeTeamName + ' (홈)'}" class="fs-4 fw-bold">롯데 자이언츠 (홈)</span>
		    <span th:unless="${game.homeScore > game.awayScore}" th:text="${game.homeTeamName + ' (홈)'}" class="fs-4">롯데 자이언츠 (홈)</span>
		
		    <img th:src="@{/static/emblems/{logo}.png(logo=${game.homeTeamLogo})}" class="table-team-logo">
		  </div>
		</div>
	
	    <!-- 이닝별 점수 테이블 -->
	    <div class="table-responsive">
	      <table class="table table-bordered text-center bg-white fs-5"
			     style="table-layout: fixed; width: 100%;">
			<thead class="table-light fs-5">
			  <tr style="background-color: #fff3cd;">
			   <th style="width: 180px;" class="bg-light">팀</th>
			   <th th:each="i : ${#numbers.sequence(1, 9)}" style="width: 60px;" th:text="${i}">1</th>
			   <th style="width: 70px;">R</th>
			   <th style="width: 70px;">H</th>
			   <th style="width: 70px;">E</th>
			  </tr>
			</thead>
			<tbody>
			  <tr style="background-color: #f3f6f9;">
			     <th class="fs-5 text-white"
					 th:style="'background-color:' + ${game.awayTeamColor}"
					 th:text="${game.awayTeamName}">기아</th>
			   <td th:each="score : ${game.awayInningScores}" th:text="${score}" style="width: 60px;">0</td>
			   <td style="width: 70px;" th:text="${game.awayScore}">3</td>
			   <td style="width: 70px;" th:text="${game.awayHits}">7</td>
			   <td style="width: 70px;" th:text="${game.awayErrors}">0</td>
			 </tr>
			 <tr style="background-color: #f3f6f9;">
			  <th class="fs-5 text-white"
    		      th:style="'background-color:' + ${game.homeTeamColor}"
    			  th:text="${game.homeTeamName + ' (홈)'}">롯데</th>
			   <td th:each="score : ${game.homeInningScores}" th:text="${score}" style="width: 60px;">0</td>
			   <td style="width: 70px;" th:text="${game.homeScore}">6</td>
			   <td style="width: 70px;" th:text="${game.homeHits}">9</td>
			   <td style="width: 70px;" th:text="${game.homeErrors}">1</td>
			 </tr>
		  </tbody>
		</table>
	  </div>
	  <div class="text-start small mt-2 ms-2">
	    <span th:if="${game.winPitcher != null}"><b>승리투수 : </b><span th:text="${game.winPitcher}" class="me-2">권유석</span></span>
	    <span th:if="${game.holdPitchers != null and !game.holdPitchers.isEmpty()}">
	    	<b>홀드 : </b><span th:each="name, stat : ${game.holdPitchers}" th:text="${name}" class="me-2"></span>
		</span>
  		<span th:if="${game.savePitcher != null}"><b>세이브 : </b><span th:text="${game.savePitcher}" class="me-2">김성은</span></span><br>
  		<span th:if="${game.losePitcher != null}"><b>패전투수 : </b><span th:text="${game.losePitcher}" class="me-2">권석유</span></span>
	  </div>
    </div>
  </div>
	
 </div> 

    <div class="row">
	<!-- 홈팀 타자 기록 -->
	<div class="col-md-6">
	  <div class="border p-3 rounded"
       	   th:if="${game.homeTeamColor != null}"
           th:style="|background-color: rgba(${@colorUtil.toRgba(game.homeTeamColor, 0.3)});|">
	    <h5 class="fw-bold mb-3" th:text="${game.homeTeamName + ' 타자 기록'}">홈 타자</h5>
	    <table class="table table-sm text-center">
	      <thead>
	        <tr>
	          <th>이름</th><th>타석</th><th>타수</th><th>안타</th><th>타점</th><th>홈런</th><th>도루</th><th>삼진</th><th>볼넷</th>
	        </tr>
	      </thead>
	      <tbody>
	        <tr th:each="record : ${game.homeBatterRecords}">
	          <td th:text="${record.playerName}">권유석</td>
	          <td th:text="${record.pa}">4</td>
	          <td th:text="${record.ab}">3</td>
	          <td th:text="${record.hits}">2</td>
	          <td th:text="${record.rbi}">1</td>
	          <td th:text="${record.hr}">0</td>
	          <td th:text="${record.sb}">0</td>
	          <td th:text="${record.so}">1</td>
	          <td th:text="${record.bb}">1</td>
	        </tr>
	      </tbody>
	    </table>
	  </div>
	</div>
	
	<!-- 원정팀 타자 기록 -->
	  <div class="col-md-6">
   	    <div class="border p-3 rounded"
       	     th:if="${game.homeTeamColor != null}"
             th:style="|background-color: rgba(${@colorUtil.toRgba(game.awayTeamColor, 0.3)});|">
	      <h5 class="fw-bold mb-3" th:text="${game.awayTeamName + ' 타자 기록'}">원정 타자</h5>
	      <table class="table table-sm text-center">
	        <thead>
	          <tr>
	          	<th>이름</th><th>타석</th><th>타수</th><th>안타</th><th>타점</th><th>홈런</th><th>도루</th><th>삼진</th><th>볼넷</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr th:each="record : ${game.awayBatterRecords}">
	            <td th:text="${record.playerName}">홍길동</td>
	            <td th:text="${record.pa}">4</td>
	            <td th:text="${record.ab}">3</td>
	            <td th:text="${record.hits}">2</td>
	            <td th:text="${record.rbi}">1</td>
	            <td th:text="${record.hr}">0</td>
	            <td th:text="${record.sb}">0</td>
	            <td th:text="${record.so}">1</td>
	            <td th:text="${record.bb}">1</td>
	          </tr>
	        </tbody>
	      </table>
	    </div>
	  </div>
	</div>
	
	<div class="row mt-4">
  <!-- 홈팀 투수 기록 -->
  <div class="col-md-6">
	<div class="border p-3 rounded"
       	 th:if="${game.homeTeamColor != null}"
         th:style="|background-color: rgba(${@colorUtil.toRgba(game.homeTeamColor, 0.3)});|">
      <h5 class="fw-bold mb-3" th:text="${game.homeTeamName + ' 투수 기록'}">홈 투수</h5>
      <table class="table table-sm text-center">
        <thead>
          <tr>
            <th>선수</th><th>이닝</th><th>탈삼진</th><th>안타</th><th>사구</th><th>실점</th><th>자책점</th><th>피안타</th><th>피홈런</th><th>기록</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="record : ${game.homePitcherRecords}">
            <td th:text="${record.playerName}">권유석</td>
            <td th:text="${record.innings}">5.0</td>
            <td th:text="${record.strikeouts}">3</td>
            <td th:text="${record.bb}">1</td>
            <td th:text="${record.hbp}">0</td>
            <td th:text="${record.runs}">2</td>
            <td th:text="${record.earnedRuns}">2</td>
            <td th:text="${record.hits}">5</td>
            <td th:text="${record.hr}">1</td>
            <td th:text="${record.decision}">승</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- 원정팀 투수 기록 -->
  <div class="col-md-6">
	<div class="border p-3 rounded"
	     th:if="${game.homeTeamColor != null}"
	     th:style="|background-color: rgba(${@colorUtil.toRgba(game.awayTeamColor, 0.3)});|">
      <h5 class="fw-bold mb-3" th:text="${game.awayTeamName + ' 투수 기록'}">원정 투수</h5>
      <table class="table table-sm text-center">
        <thead>
          <tr>
            <th>선수</th><th>이닝</th><th>탈삼진</th><th>안타</th><th>사구</th><th>실점</th><th>자책점</th><th>피안타</th><th>피홈런</th><th>기록</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="record : ${game.awayPitcherRecords}">
            <td th:text="${record.playerName}">김영민</td>
            <td th:text="${record.innings}">4.1</td>
            <td th:text="${record.strikeouts}">2</td>
            <td th:text="${record.bb}">2</td>
            <td th:text="${record.hbp}">1</td>
            <td th:text="${record.runs}">3</td>
            <td th:text="${record.earnedRuns}">2</td>
            <td th:text="${record.hits}">6</td>
            <td th:text="${record.hr}">0</td>
            <td th:text="${record.decision}">패</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

</th:block>